h2,
header {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ccc;
}
.main-page h2 {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
}

.main-page .input-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color: #bbb;
}

.input-group {
    display: flex;
    align-items: center;
    background: #333;
    padding: 10px;
    border-radius: 8px;
}

.input-group .prefix {
    color: #bbb;
    margin-right: 10px;
}

input, select {
    background: #333;
    border: none;
    color: #fff;
    flex: 1;
    padding: 5px;
    font-size: 16px;
    outline: none;
    width: 100%;
    border-radius: 8px;
}

.inline-inputs {
    display: flex;
    gap: 10px;
}

.inline-inputs input {
    flex: 1;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}

.primary {
    background: #00d26a;
    color: #fff;
    border: none;
}

.secondary {
    background: #444;
    color: #bbb;
    border: none;
}

.pin-input-container {
    margin-bottom: 20px;
}

.pin-input {
    width: 200px;
    padding: 10px;
    font-size: 60px;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 10px;
    font-family: monospace;
}

.pin-input::placeholder {
    letter-spacing: 0;
    /* Reset letter spacing for placeholder */
}
.center-text {
    text-align: center;
}